*{  
    
    padding: 0;
    top:0;
}

/* navbar */

.nav1{
    height:80px;
    background-color: #3ca9a9;
    color:black;
    top: 0;    
    position: sticky;
    z-index: 10;
    width: 100%;
}
.nav1 a{
    padding-left: 20px;
    color: rgb(65, 37, 37);
    font-family:'Segoe UI';
    font-size: 17px;
    text-decoration: none solid black;
    
    
}
.nav1 a:hover{
    color: #c4f0eb;
    cursor: pointer;
    text-decoration: underline;
}


/* <!-- home --> */

.home{
    height: 660px;
    
    background-image: url('./images/h7.jpeg');
    background-size: cover;
    background-position: 0%;
    z-index: -4;
    width: 100%;
}

.div1{
    border: 2px solid;
    padding: 40px;
    display: flex;
    flex-direction: column;
    
    position: absolute;
    height: 400px;
    width: 500px;
    left: 16%;
    top: 25%;
    color: white;
    background-color: black;
    opacity: 0.8;
    background: linear-gradient(to top, rgb(23, 64, 98)  50%,rgb(40, 31, 31) 50%);


}
.div1 p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.but1{
    padding-left: 30px;
}
.b1{
    width: 150px;
    padding: 6px;
    border-radius: 10px 10px;
    background-color: yellowgreen;
}
.b1:hover{
    background-color: aquamarine;
    padding: 5px;
}
.b2{
    border-radius: 10px 10px;
    float: left;
    width: 150px;
    padding: 6px;
    background-color: yellowgreen;
}
.b2:hover{
    background-color: aquamarine;
    padding: 5px;
}
.div1:hover{
    background-color: black;
    opacity: 0.9;
    background: linear-gradient(to top, rgb(32, 78, 115)  50%rgb(175, 120, 120)) 50%);
    height: 420px;
    width: 520px;
    left: 15%;
    top: 24%;

}

/* latest from the blog */

.blog{
    height: 1200px;
    width: 100%;
}

.card{
    width: 405px;
    height: 200px;
    padding: 21px;
    
}
.div3{
    padding-left: 50px;
    background-color: rgb(183, 231, 231);
    height: 1100px;
}
.card{
    background-color: rgb(69, 97, 88);
    
}
.card:hover{
    background-color: rgb(132, 168, 156);
    box-shadow:  10px 10px rgb(132, 168, 156);
    
    padding: 5px;
    cursor: pointer;
    
    

}

/* join */

.news{
    height: 200px;
    padding-top: 20px;
    width: 100%;
    background-color: #2abbab;
    background-size: cover;
    
    background-repeat: no-repeat;
    
}




/* <!-- guidebooks  --> */

.guide{
    height: 580px;
    background-color: #2abbab;
    width: 100%;
}

.gb1{
    padding-left: 30px;
    width: 500px; 
    float: left;   
}


.b3{
    background-color: #2abbab;
    padding: 5px;
    border-radius: 20px 20px;
}
.b3:hover{
    background-color: white;
}

.b4{
    
    background-color: #2abbab;
    padding: 5px;
    border-radius: 20px 20px;
}
.b4:hover{
    background-color: white;
}


.card1{
    background-color: #d8e2dc;
    height: 450px;
   
    padding: 20px;
    
}
.card1:hover{
    background: linear-gradient(to top, rgb(12, 130, 227) 50%,rgb(2, 72, 61) 50%);
    background-size: 100% 200%;
    transition: all 0.8s;
    color: white;
    padding: 15px;
}
.gb2{
    float: left;
    width: 500px;
    padding-left: 40px;
}
.card2{
    background-color: #d8e2dc;
    height: 450px;
    padding: 20px;
    
}
.card2:hover{
    background: linear-gradient(to top, rgb(12, 130, 227) 50%,rgb(2, 72, 61) 50%);
    background-size: 100% 200%;
    transition: all 0.8s;
    color: white;
    padding: 15px;
}

.gb3{
    float: left;
    width: 500px;
    padding-left: 40px;
}
.card3{
    background-color: #d8e2dc;
    height: 450px;
    padding: 20px;
      
}
.card3:hover{
    background: linear-gradient(to top, rgb(12, 130, 227) 50%,rgb(7, 53, 46) 50%);
    background-size: 100% 200%;
    transition: all 0.8s;
    color: white;
    padding: 19px;
    
}



.container p a:hover{
    color: black;
    cursor: pointer;
    text-decoration: underline blue;
}

